[submodule "mcp/wildapricot/wildapricot_api"]
	path = mcp/wildapricot/wildapricot_api
	url = git@github.com:MakeICT/wildapricot_api.git
	branch = master
[submodule "src/mcp/wildapricot/wildapricot_api"]
	path = src/mcp/wildapricot/wildapricot_api
	url = https://github.com/MakeICT/wildapricot_api.git
