[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-user = "*"
flask-migrate = "*"
pillow = "*"
flask-api = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
pytz = "*"
gunicorn = "*"
pymysql = "*"
cryptography = "*"
email-validator = "*"
wsgi = "*"

[requires]
python_version = "3.7"
