<form class="form form-horizontal" method="POST" action="" enctype="multipart/form-data" autocomplete="off">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">{{ title }}</legend>
        {% for field in form %}
            <!-- {{ field.type }} -->
            {% if field.type=='StringField' %}
                <div class="form-row">
                    {{ field.label(class="form-control-label-sm col-md-2") }}
                    {% if field.errors %}
                        {{ field(class="form-control form-control-sm col-md-10 is-invalid") }}
                        <div class="invalid-feedback mt-0 pt-0">
                            {% for error in field.errors %}
                                <span class="float-right col-md-10 pl-1">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ field(class="form-control form-control-sm col-md-10") }}
                    {% endif %}
                </div>

            {% elif field.type=='IntegerField' %}
                <div class="form-row">
                    {{ field.label(class="form-control-label-sm col-md-2") }}
                    {% if field.errors %}
                        {{ field(class="form-control form-control-sm col-md-10 is-invalid") }}
                        <div class="invalid-feedback mt-0 pt-0">
                            {% for error in field.errors %}
                                <span class="float-right col-md-10 pl-1">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ field(class="form-control form-control-sm col-md-10") }}
                    {% endif %}
                </div>  

            {% elif field.type=='BooleanField' %}
                <div class="form-row">
                    {{ field.label(class="form-control-label-sm col-md-2") }}
                    {% if field.errors %}
                        {{ field(class="form-control form-control-sm col-md-10 is-invalid") }}
                        <div class="invalid-feedback mt-0 pt-0">
                            {% for error in field.errors %}
                                <span class="float-right col-md-10 pl-1">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ field(class="") }}
                    {% endif %}
                </div>                    

            {% elif field.type=='DateField' %}
                <div class="form-row">
                    {{ field.label(class="form-control-label-sm col-md-2") }}
                    {% if field.errors %}
                        {{ field(class="form-control form-control-sm col-md-10 is-invalid") }}
                        <div class="invalid-feedback mt-0 pt-0">
                            {% for error in field.errors %}
                                <span class="float-right col-md-10 pl-1">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ field(class="form-control form-control-sm col-md-10") }}
                    {% endif %}
                </div>

            {% elif field.type=='SelectMultipleField' %}
                <div class="form-row">
                    {{ field.label(class="form-control-label-sm col-md-2") }}
                    {% if field.errors %}
                        {{ field(div_class="col-md-10 is-invalid") }}
                        <div class="invalid-feedback mt-0 pt-0">
                            {% for error in field.errors %}
                                <span class="float-right col-md-10 pl-1">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ field(div_class="col-md-10") }}
                    {% endif %}
                </div>

            {% elif field.type=='FileField' %}
                <div class="form-row my-4">
                    {{ field.label(class="form-control-label-sm col-md-2") }}
                    <button id="photo_button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#cameraModal" onclick="showCamera()">
                        <i class="fas fa-camera"></i>
                    </button>
                    {{ field(class="") }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>

            {% elif field.type=='SubmitField' %}
                <div class="form-row mt-4">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            {% elif field.type=='CSRFTokenField' %}
            {% endif %}
        {% endfor %}
    </fieldset>
</form>

<style>
  .on-top{
    position: absolute;
    top:0;bottom:0;right:0;left:0;
    z-index: 2000;
  }
</style>

<!-- Camera Modal -->
<div class="modal fade" id="cameraModal" tabindex="-1" role="dialog" aria-labelledby="cameraModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cameraModalLabel">Take Photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="photo-modal-body">
        <div  class="embed-responsive embed-responsive-1by1"  id="videoContainer">
          <video class="embed-responsive-item border-dark rounded" autoplay="true" id="videoElement"></video>
          <canvas id="crosshairCanvas" class="w-100 h-100 m-auto on-top" onclick="showResult()"></canvas>
          <canvas id="resultCanvas" class="h-100 m-auto border border-dark rounded on-top" hidden="true" onclick="showCamera()"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button id="snap" class="btn btn-secondary float-left"><i class="fas fa-camera"></i></button>
        <button id="retake" class="btn btn-secondary" hidden="true"><i class="fas fa-trash"></i></button>
        <button id="mirror" class="btn btn-secondary" data-toggle="button" aria-pressed="true"><i class="fas fa-arrows-alt-h"></i></button>
        <button id="flip" class="btn btn-secondary" data-toggle="button" aria-pressed="true"><i class="fas fa-sync-alt"></i></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript"> {% include 'form_functions.js' %} </script>
