{% macro render_file_field(field, label_visible=true, filename=None, folder='', right_url=None, right_label=None, camera=False) -%}{% include '_camera_modal.html' %}
    {{ field.label(class="form-control-label-sm col-md-2") }}
    <div class="col-md-10 p-0">
      <div class="input-group input-group-sm">
        {{ field(style='display:none', onchange="syncFilename(\'" + field.id +"\')") }} 
        {% if field.errors %} 
          <div id="{{ field.id + '_fn' }}" class="form-control form-control-sm is-invalid">{{ filename }}</div>
        {% else %} 
          <span id="{{ field.id + '_fn' }}" class="form-control form-control-sm rounded-left">{{ filename }}</span>
        {% endif %}
        {% if camera %}
          <div class="input-group-append">
            <a id="photo_button" type="button" class="btn btn-secondary btn-sm fas fa-camera text-white" style="line-height: 1.5" data-toggle="modal" data-target="#cameraModal""></a>
          </div>
        {% endif%}
        {% if filename%}
          <div class="input-group-append">
            <a id="{{ field.id + '_down_btn' }}" type="button" href="{{ url_for('static', filename= folder + filename)}}" download class="btn btn-secondary btn-sm fas fa-file-download" style="line-height: 1.5"></a>
          </div>
        {% endif %}
          <div class="input-group-append">
            <button id="{{ field.id + '_btn' }}" type="button" onclick="document.getElementById('{{ field.id }}').click();" class="btn btn-primary btn-sm rounded-right fas fa-file-upload"></button>
          </div>
        {% if field.errors %} 
          <div class="invalid-feedback mt-0 pt-0">
            {% for error in field.errors %} 
              <span class="float-right">{{ error }}</span> 
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
    <script type="text/javascript"> {% include 'form_functions.js' %} </script>  
{%- endmacro %}

<form  method="POST" action="" enctype="multipart/form-data" autocomplete="off">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">{{ title }}</legend>
        {% for field in form %}
            <!-- {{ field.type }} -->
            {% if field.type=='HiddenField' %}
              {{ field() }}
            {% elif field.type=='StringField' %}
                <div class="form-row">
                    {{ field.label(class="form-control-label-sm col-md-2") }}
                    {% if field.errors %}
                        {{ field(class="form-control form-control-sm col-md-10 is-invalid") }}
                        <div class="invalid-feedback mt-0 pt-0">
                            {% for error in field.errors %}
                                <span class="float-right col-md-10 pl-1">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ field(class="form-control form-control-sm col-md-10") }}
                    {% endif %}
                </div>

            {% elif field.type=='IntegerField' %}
                <div class="form-row">
                    {{ field.label(class="form-control-label-sm col-md-2") }}
                    {% if field.errors %}
                        {{ field(class="form-control form-control-sm col-md-10 is-invalid") }}
                        <div class="invalid-feedback mt-0 pt-0">
                            {% for error in field.errors %}
                                <span class="float-right col-md-10 pl-1">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ field(class="form-control form-control-sm col-md-10") }}
                    {% endif %}
                </div>

            {% elif field.type=='BooleanField' %}
                <div class="form-row">
                    {{ field.label(class="form-control-label-sm col-md-2") }}
                    {% if field.errors %}
                        {{ field(class="form-control form-control-sm col-md-10 is-invalid") }}
                        <div class="invalid-feedback mt-0 pt-0">
                            {% for error in field.errors %}
                                <span class="float-right col-md-10 pl-1">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ field(class="") }}
                    {% endif %}
                </div>

            {% elif field.type=='DateField' %}
                <div class="form-row">
                    {{ field.label(class="form-control-label-sm col-md-2") }}
                    {% if field.errors %}
                        {{ field(class="form-control form-control-sm col-md-10 is-invalid") }}
                        <div class="invalid-feedback mt-0 pt-0">
                            {% for error in field.errors %}
                                <span class="float-right col-md-10 pl-1">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ field(class="form-control form-control-sm col-md-10") }}
                    {% endif %}
                </div>

            {% elif field.type=='SelectMultipleField' %}
                <div class="form-row">
                    {{ field.label(class="form-control-label-sm col-md-2") }}
                    {% if field.errors %}
                        {{ field(div_class="col-md-10 is-invalid") }}
                        <div class="invalid-feedback mt-0 pt-0">
                            {% for error in field.errors %}
                                <span class="float-right col-md-10 pl-1">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ field(div_class="col-md-10") }}
                    {% endif %}
                </div>

            {% elif field.type=='FileField' %}
              <div class="form-row">
                <!-- <div class="col-md-12"> -->
                {{ render_file_field(form.picture, camera=True, filename=form.picture.data, folder='/profile_pics/') }}
                {% include '_camera_modal.html' %}
              </div>

            {% elif field.type=='SubmitField' %}
                <div class="form-row mt-4">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            {% elif field.type=='CSRFTokenField' %}
            {% endif %}
        {% endfor %}
    </fieldset>
</form>