{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
	    <a href="{{ url_for('users.adm_users') }}">Users (Active)</a>
    </div>
    <div class="content-section">
        <a href="{{ url_for('users.adm_users2') }}">Users (Archived)</a>
    </div>
    <div class="content-section">
        <a href="{{ url_for('groups.adm_groups') }}">Groups</a>
    </div>
    <div class="content-section">
        <a href="{{ url_for('clients.adm_clients') }}">Clients</a>
    </div>
    <div class="content-section">
        <a href="{{ url_for('logs.adm_logs') }}">Logs</a>
    </div>
    <div class="content-section">
        <a href="{{ url_for('wildapricot.adm_wildapricot') }}">Wildapricot</a>
    </div>
{% endblock content %}
