{% extends "layout.html" %}
{% block content %}
<script type="text/javascript"> {% include 'wildapricot_functions.js' %} </script>



  <div class="content-section">
      <span>
          <button type="submit" name="your_name" value="your_value" class="btn btn-sm btn-primary m-1" onclick="wa_pull({updated_since:1})" >Pull 1 Day</button>
      </span>
      <span>
          <button type="submit" name="your_name" value="your_value" class="btn btn-sm btn-primary m-1" onclick="wa_pull({updated_since:7})" >Pull 7 Days</button>
      </span>
      <span>
          <button type="submit" name="your_name" value="your_value" class="btn btn-sm btn-primary m-1" onclick="wa_pull({updated_since:30})" >Pull 30 Days</button>
      </span>
      <span>
          <button type="submit" name="your_name" value="your_value" class="btn btn-sm btn-primary m-1" onclick="wa_pull()" >Pull All</button>
      </span>
  </div>
  <div id=result>
  {% if unsynced_users %}
  <h3>Users with local changes</h3>

    <div class="content-section">
        {% for u in unsynced_users %}
        <div><a href="{{ url_for('users.adm_user', user_id=u.id) }}">{{ u.last_name }}, {{ u.first_name }}</a> : {{ u.modified_date }}</div>
      {% endfor%}
    </div>

    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="wa_push({user_ids:{{ unsynced_users | selectattr('id') | map(attribute='id') | list}}})">
        Push All
    </button>
  {% endif %}

  </div>
{% endblock content %}

