{% extends "layout.html" %}
{% block content %}
  <div class="">
    {% for user in users %}
       <div class="card">
          <div class="card-body p-0 pl-2 py-1 m-0">
            <div class="card-title d-flex p-0 m-0">
              <div class="flex-grow-1">
              {% for role in user.roles %}
                {% if role.name == 'admin' %}
                  <i class="fas fa-shield-alt"></i>
                {% endif %}
              {% endfor %}
              <b>{{user.last_name}}, {{ user.first_name }}</b>: <a class="text-muted flex-grow-1"> {{user.email}}</a>
              </div>
              <div class="flex-shrink px-2">
              <a href="{{ url_for('users.adm_user', user_id=user.id)}}"><i class="fas fa-wrench"></i></a>
              </div>
            </div>
            <hr class="p-0 m-0">
            <div class="card-text">
              active: {{ user.active}}
            </div>
         </div>
      </div>
    {% endfor %}
  </div>
  <nav aria-label="...">
      <ul class="pagination">
          <li class="page-item{% if not prev_url %} disabled{% endif %}">
              <a class="page-link" href="{{ prev_url or '#' }} " aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
              </a>
          </li>
          <li class="page-item active">
            <span class="page-link">
              {{ page }}
            </span>
          </li>
          <li class="page-item next{% if not next_url %} disabled{% endif %}">
              <a class="page-link" href="{{ next_url or '#' }}">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
              </a>
          </li>
      </ul>
  </nav>
{% endblock content %}
