{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
   <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    {% include '_edit_user_info.html' %}
  </div>
{% endblock content %}
