{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    {% include '_render_form.html' %}
    <legend class="border-bottom mb-4">Authorized Groups</legend>
    {% for group in client.groups%}
    <a class="btn btn-secondary btn-sm my-1" href="{{ url_for('groups.adm_group', group_id=group.id) }}">
     {{ group.name }}
    </a>
    {% endfor %}
    {% if client.id %}
      <div>
        <a href="{{ url_for('clients.adm_rm_client', client_id=client.id ) }}" class="btn btn-sm btn-danger m-1">
          Delete Client
        </a>
      </div>
    {% endif %}
  </div>
{% endblock content %}
