{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <a href="{{ url_for('users.adm_users') }}">Users</a>
    </div>
    <div class="content-section">
        <a href="{{ url_for('groups.adm_groups') }}">Groups</a>
    </div>
    <div class="content-section">
        <a href="{{ url_for('clients.adm_clients') }}">Clients</a>
    </div>
    <div class="content-section">
        <a href="{{ url_for('logs.adm_logs') }}">Logs</a>
    </div>
{% endblock content %}
